<form class="emp-form" #employeeForm="ngForm" (ngSubmit) = "onSubmitClick(employeeForm)">
  <input type="hidden" name="$key" #$key="ngModel" [(ngModel)]= "employeeService.selectedEmployee.$key "/>
   
    <div class="form-group">
      <input class="form-control" name="Name" #Name="ngModel" [(ngModel)]="employeeService.selectedEmployee.Name" placeholder="Name" required />
      <div class="validation-error" *ngIf="Name.invalid && Name.touched">Name is Required !!</div>
    </div>
  
  <div class="form-group">
      <input class="form-control" name="Position" #Position="ngModel" [(ngModel)]="employeeService.selectedEmployee.Position" placeholder="Position" />
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <input class="form-control" name="Office" #Office="ngModel" [(ngModel)]="employeeService.selectedEmployee.Office" placeholder="Office" />
    </div>
    <div class="form-group col-md-6">
      <div class="input-group">
        <div class="input-group-addon">
          <i class="fa fa-dollar"></i>
          <input class="form-control" name="Salary" #Salary="ngModel" [(ngModel)]="employeeService.selectedEmployee.Salary" placeholder="Salary" />
        </div>
      </div>
    </div>
  </div>
  <div class="form-row">
    <div class="col-md-8">
      <button type="submit" class="btn btn-block btn-lg btn-info" [disabled]="!employeeForm.valid"><i class="fa fa-floppy-o"></i> Submit</button>
    </div>
    <div class="col-md-4">
      <button type="button" class="btn btn-lg btn-block btn-secondary" (click)="onResetClick(employeeForm)"><i class="fa fa-repeat"></i> Reset</button>
    </div>
  </div> 
  
</form>